<h1>Welcom to our pokemon store!</h1>

<div class = "box">
	<div class = "content">
		<img src = "https://i.pinimg.com/736x/56/60/0a/56600a4900e0155550a32abc44bd320a.jpg" />
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://i.pinimg.com/736x/29/f3/8b/29f38b54b067e927d77fcd12753aea92.jpg" />
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://i.pinimg.com/736x/5b/34/52/5b3452c1ce02e23ce1d184cac014f65b.jpg" />
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://i.pinimg.com/564x/89/5b/ed/895bede6182dce2f8256d2eae13ab27f.jpg" />
	</div>
</div>